.introduction {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
}

.introduction>* {
    flex: 1;
}

.imgWarp {
    min-width: 375px;
}