.QAGroup {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}

.QAItem {
    border-radius: 15px;
    background: #FFF;
    margin-bottom: 40px;
}

.QAItem:hover {
    transition: filter 0.5s ease-in-out;
    filter: drop-shadow(0px 3.380819082260132px 11.525781631469727px rgba(0, 0, 0, 0.09)) drop-shadow(0px 27px 104px rgba(0, 0, 0, 0.05));
}
.QABox {
    margin-left: 64px;
    margin-right: 64px;
}

.que {
    color: #000;
    font-weight: 600;
    font-size: 20px;
    border-radius: 15px;
    background: #EFF1F2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
}

.ans {
    color: #000;
    font-weight: 600;
    font-size: 20px;
    border-radius: 15px;
    background: #EFF1F2;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 45px;
    padding-right: 45px;
}