body {
  margin: 0;
  padding: 0;
  font-family: 'PingFang SC';
  line-height: 1.5;
  background-color: #eff1f2;
  min-height: 100vh;
    position: relative;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}