* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.02em;
  font-family: "PingFang SC";
}

body {
  display: flex;
  height: 100%;
    flex-direction: column;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: #eff1f2;
  user-select: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  user-select: text;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 2rem;
  text-indent: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: #475472;
  color: #fff;
}

input,
textarea {
  user-select: auto;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  display: none;
}

h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
}
.textBox {
  color: #000;
  font-weight: 600;
  font-size: 20px;
  border-radius: 15px;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
  margin: 15px;
}

.textBox:hover {
  transition: filter 0.5s ease-in-out;
  filter: drop-shadow(0px 3.380819082260132px 11.525781631469727px rgba(0, 0, 0, 0.09)) drop-shadow(0px 27px 104px rgba(0, 0, 0, 0.05));
}